.vscode
/node_modules
/Modulo2/Ex1/.vs/Ex1/v16/.suo
/.vs
/Modulo2/Ex2/.vs/Ex2/v16/.suo
/Modulo2/Ex2/.vs/Ex2/DesignTimeBuild/.dtbcache.v2
/Modulo2/Ex1/.vs/Ex1/DesignTimeBuild/.dtbcache.v2
/Modulo2/Ex3/.vs/Ex3/v16/.suo
/Modulo2/Ex4/.vs/Ex4/v16/.suo
/Modulo2/Ex3/.vs/Ex3/DesignTimeBuild/.dtbcache.v2
/Modulo2/Ex5/.vs/Ex5/v16/.suo
/Modulo2/Ex4/.vs/Ex4/DesignTimeBuild/.dtbcache.v2
/Modulo2/Ex6/.vs/Ex6/v16/.suo
/Modulo2/Ex5/.vs/Ex5/DesignTimeBuild/.dtbcache.v2
/Modulo2/Ex7/.vs/Ex7/v16/.suo
/Modulo2/Ex6/.vs/Ex6/DesignTimeBuild/.dtbcache.v2
/Modulo2/Ex7/.vs/Ex7/DesignTimeBuild/.dtbcache.v2
/Modulo2/Ex8/.vs/Ex8/v16/.suo
/Modulo2/Ex9/.vs/Ex9/v16/.suo
/Modulo2/Ex8/.vs/Ex8/DesignTimeBuild/.dtbcache.v2
/Modulo2/Ex10/.vs/Ex10/v16/.suo
/Modulo2/Semana4/Ex1/.vs/Ex1/DesignTimeBuild/.dtbcache.v2
/Modulo2/Semana4/Ex2/.vs/Ex2/DesignTimeBuild/.dtbcache.v2
/Modulo2/Semana4/Ex4/.vs/Ex4/DesignTimeBuild/.dtbcache.v2
/Modulo2/Semana4/Ex5/.vs/Ex5/DesignTimeBuild/.dtbcache.v2
/Modulo2/Semana5/Ex1/Ex1/obj/Debug/net5.0
/Modulo2/Semana5/Ex1/Ex1/obj
/Modulo2/Semana5/Ex1/Ex1/bin
/Modulo2/Semana5/Ex2/Ex2/obj
/Modulo2/Semana5/Ex2/Ex2/bin
/Modulo2/Semana5/Ex3/Ex3/obj
/Modulo2/Semana5/Ex3/Ex3/bin
/Modulo2/Semana5/Ex4/Ex4/obj
/Modulo2/Semana5/Ex4/Ex4/bin
/Modulo2/Semana5/Ex5/Ex5/obj
/Modulo2/Semana5/Ex5/Ex5/bin
/Modulo2/Semana5/Ex6/Ex6/obj
/Modulo2/Semana5/Ex6/Ex6/bin
/Modulo2/Semana5/Ex7/Ex7/obj
/Modulo2/Semana5/Ex7/Ex7/bin
/Modulo2/Semana5/Ex8/Ex8/obj
/Modulo2/Semana5/Ex8/Ex8/bin
/Modulo2/Semana5/Ex9/Ex9/obj
/Modulo2/Semana5/Ex9/Ex9/bin
/Modulo2/Semana5/Ex10/Ex10/obj
/Modulo2/Semana5/Ex10/Ex10/bin

/Modulo2/Semana5/Ex2/ClassLibrary/obj
/Modulo2/Semana5/Ex2/ClassLibrary/bin/Debug/net5.0
/Modulo2/Semana5/Ex2/.vs/Ex2/v16/.suo
/Modulo2/Semana5/Ex3/.vs/Ex3/v16/.suo
/Modulo2/Semana5/Ex3/.vs/Ex3/DesignTimeBuild/.dtbcache.v2
/Modulo2/Semana5/Ex4/.vs/Ex4/v16/.suo
/Modulo2/Semana5/Ex5/.vs/Ex5/v16/.suo
/Modulo2/Semana5/Ex4/.vs/Ex4/DesignTimeBuild/.dtbcache.v2
/Modulo2/Semana5/Ex6/.vs/Ex6/v16/.suo
/Modulo2/Semana5/Ex6/.vs/Ex6/DesignTimeBuild/.dtbcache.v2
/Modulo2/Semana5/Ex7/.vs/Ex7/v16/.suo
/Modulo2/Semana5/Ex2/.vs/Ex2/DesignTimeBuild/.dtbcache.v2
/Modulo2/Semana5/Ex8/.vs/Ex8/v16/.suo
/Modulo2/Semana5/Ex9/.vs/Ex9/config/applicationhost.config
/Modulo2/Semana5/Ex9/.vs/Ex9/v16/.suo
/Modulo2/Semana5/Ex9/VehicleAPI/bin/Debug/net5.0/ref
/Modulo2/Semana5/Ex9/VehicleAPI/bin/Debug/net5.0
/Modulo2/Semana5/Ex9/VehicleAPI/obj/Debug/net5.0/ref
/Modulo2/Semana5/Ex9/VehicleAPI/obj/Debug/net5.0/staticwebassets
/Modulo2/Semana5/Ex9/VehicleAPI/obj/Debug/net5.0
/Modulo2/Semana5/Ex9/VehicleAPI/obj
/Modulo2/Semana5/Ex10/.vs/Ex10/config
/Modulo2/Semana5/Ex10/.vs/Ex10/v16
/Modulo2/Semana5/Ex10/VehicleAPI/bin/Debug/net5.0/ref
/Modulo2/Semana5/Ex10/VehicleAPI/bin/Debug/net5.0
/Modulo2/Semana5/Ex10/VehicleAPI/obj
