.vscode
/node_modules
/Modulo2/Ex1/.vs/Ex1/v16/.suo
/.vs
/Modulo2/Ex2/.vs/Ex2/v16/.suo
/Modulo2/Ex2/.vs/Ex2/DesignTimeBuild/.dtbcache.v2
/Modulo2/Ex1/.vs/Ex1/DesignTimeBuild/.dtbcache.v2
/Modulo2/Ex3/.vs/Ex3/v16/.suo
/Modulo2/Ex4/.vs/Ex4/v16/.suo
/Modulo2/Ex3/.vs/Ex3/DesignTimeBuild/.dtbcache.v2
/Modulo2/Ex5/.vs/Ex5/v16/.suo
/Modulo2/Ex4/.vs/Ex4/DesignTimeBuild/.dtbcache.v2
/Modulo2/Ex6/.vs/Ex6/v16/.suo
