.App {
  text-align: center;
}

#main-title {
  background-color: black;
  color: white;
}

#repo-list {
  text-align: center;
}

.repo-item {
  display: block;
  border: 2px solid black;
  height: 90px;
  width: 60vw;
  margin: 10px auto;
}

.repo-item-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.repo-item-description {
  margin: 0;
}

#subtitle {
  font-size: 25px;
  background-color: black;
  color: white;
}